<a href="https://colab.research.google.com/github/wiktoriaszmidt/lecture1/blob/wiktoriaszmidt-patch-1/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Ustaw wersję jako parametr
SPARK_VERSION="3.5.6"

# Instalacja OpenJDK 8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Pobranie Apache Spark z określoną wersją
!wget -q http://www.apache.org/dist/spark/spark-$SPARK_VERSION/spark-$SPARK_VERSION-bin-hadoop3.tgz

# Rozpakowanie archiwum Spark
!tar xf spark-$SPARK_VERSION-bin-hadoop3.tgz

# Instalacja findspark i pyspark
!pip install -q findspark==1.3.0
!pip install -q pyspark==$SPARK_VERSION

# Ustalamy zmienne środowiskowe.
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/spark-{SPARK_VERSION}-bin-hadoop3"

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.4/317.4 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [2]:
import findspark
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext

findspark.init(f"spark-{SPARK_VERSION}-bin-hadoop3")
sc = pyspark.SparkContext('local[*]')
spark = SparkSession.builder.appName('abc').getOrCreate()

CATEGORY

In [33]:
from pyspark.sql import SparkSession

In [34]:
from pyspark.sql.functions import *

In [43]:
# Utwórz sesję Spark
spark = SparkSession.builder.appName("Zadanie2").getOrCreate()

In [44]:
from pyspark.sql.types import *

schema_category = StructType([
    StructField("ProductName", StringType(), True),
    StructField("DateFrom", StringType(), True),
    StructField("DateTo", StringType(), True),
    StructField("Margin group", StringType(), True),
    StructField("Price", DecimalType(10, 2), True)
])

In [45]:
df = spark.read.option("header", True)\
         .option("sep", ";")\
         .option("locale", "pl-PL")\
         .schema(schema_category)\
         .csv("Category.csv")

In [46]:
df.createOrReplaceTempView('Category')

In [47]:
df.printSchema()

root
 |-- ProductName: string (nullable = true)
 |-- DateFrom: string (nullable = true)
 |-- DateTo: string (nullable = true)
 |-- Margin group: string (nullable = true)
 |-- Price: decimal(10,2) (nullable = true)

In [48]:
df.show(20)

+--------------+----------+----------+------------+------+
|   ProductName|  DateFrom|    DateTo|Margin group| Price|
+--------------+----------+----------+------------+------+
|    Smartphone|11.06.2025|28.06.2025|           A|703.73|
|    Smartphone|29.06.2025|31.12.2027|           A|781.06|
|        Laptop|01.01.2024|31.12.2027|           A|296.77|
|        Tablet|01.01.2024|31.12.2027|           A|452.63|
|    Headphones|01.01.2024|31.12.2027|           B|892.83|
|    Smartwatch|01.01.2024|31.12.2027|           B|710.84|
|       T-Shirt|01.01.2024|31.12.2027|           B|376.23|
|         Jeans|01.01.2024|31.12.2027|           C|885.08|
|        Jacket|01.01.2024|31.12.2027|           C|518.97|
|      Sneakers|01.01.2024|31.12.2027|           C| 80.16|
|           Hat|01.01.2024|31.12.2027|           C|994.57|
|  Coffee Maker|01.01.2024|31.12.2027|           C|234.25|
|Vacuum Cleaner|01.01.2024|31.12.2027|           C|740.51|
|       Blender|01.01.2024|31.12.2027|           C|257.93|
|     Microwave|01.01.2024|31.12.2027|           C|299.73|
|  Air Purifier|01.01.2024|31.12.2027|           C|730.79|
|      Football|01.01.2024|31.12.2027|           C|373.82|
| Tennis Racket|01.01.2024|31.12.2027|           C|556.97|
|      Yoga Mat|01.01.2024|31.12.2027|           C| 13.91|
|     Dumbbells|01.01.2024|31.12.2027|           C|717.08|
+--------------+----------+----------+------------+------+
only showing top 20 rows

In [49]:
# utworz tabele ktora pogrupuje te same kategorie z margin group

df_grouped = df.groupBy("Margin group").agg(collect_list("ProductName").alias("Products"))
df_grouped.show(20)

+------------+--------------------+
|Margin group|            Products|
+------------+--------------------+
|           B|[Headphones, Smar...|
|           C|[Jeans, Jacket, S...|
|           A|[Smartphone, Smar...|
+------------+--------------------+

Zadanie 2:
Cel: Oblicz sumę i średnią marży (Margin group) dla każdego produktu (ProductName).

Opis: Dla każdego produktu oblicz:


sumę marży,

średnią marży.

In [53]:
df_product_margin = df.groupBy("ProductName").agg(
    sum("Price").alias("SumMargin"),
    avg("Price").alias("AverageMargin")
)

df_product_margin.show()

+--------------+---------+-------------+
|   ProductName|SumMargin|AverageMargin|
+--------------+---------+-------------+
|        Jacket|   518.97|   518.970000|
|      Sneakers|    80.16|    80.160000|
|  Air Purifier|   730.79|   730.790000|
|Cycling Helmet|   237.61|   237.610000|
|           Hat|   994.57|   994.570000|
|    Smartwatch|   710.84|   710.840000|
|        Laptop|   296.77|   296.770000|
|     Microwave|   299.73|   299.730000|
|       T-Shirt|   376.23|   376.230000|
|       Blender|   257.93|   257.930000|
|Vacuum Cleaner|   740.51|   740.510000|
|  Coffee Maker|   234.25|   234.250000|
|      Yoga Mat|    13.91|    13.910000|
|        Tablet|   452.63|   452.630000|
| Tennis Racket|   556.97|   556.970000|
|     Dumbbells|   717.08|   717.080000|
|    Smartphone|  1484.79|   742.395000|
|      Football|   373.82|   373.820000|
|         Jeans|   885.08|   885.080000|
|    Headphones|   892.83|   892.830000|
+--------------+---------+-------------+

In [54]:
# prompt: dodaj nowa kolumne ktora obliczy roznice miedzy datefrom a dateto

df = df.withColumn("DateFrom", to_date(col("DateFrom"), "dd.MM.yyyy"))
df = df.withColumn("DateTo", to_date(col("DateTo"), "dd.MM.yyyy"))
df = df.withColumn("DifferenceInDays", datediff(col("DateTo"), col("DateFrom")))

df.show()

+--------------+----------+----------+------------+------+----------------+
|   ProductName|  DateFrom|    DateTo|Margin group| Price|DifferenceInDays|
+--------------+----------+----------+------------+------+----------------+
|    Smartphone|2025-06-11|2025-06-28|           A|703.73|              17|
|    Smartphone|2025-06-29|2027-12-31|           A|781.06|             915|
|        Laptop|2024-01-01|2027-12-31|           A|296.77|            1460|
|        Tablet|2024-01-01|2027-12-31|           A|452.63|            1460|
|    Headphones|2024-01-01|2027-12-31|           B|892.83|            1460|
|    Smartwatch|2024-01-01|2027-12-31|           B|710.84|            1460|
|       T-Shirt|2024-01-01|2027-12-31|           B|376.23|            1460|
|         Jeans|2024-01-01|2027-12-31|           C|885.08|            1460|
|        Jacket|2024-01-01|2027-12-31|           C|518.97|            1460|
|      Sneakers|2024-01-01|2027-12-31|           C| 80.16|            1460|
|           Hat|2024-01-01|2027-12-31|           C|994.57|            1460|
|  Coffee Maker|2024-01-01|2027-12-31|           C|234.25|            1460|
|Vacuum Cleaner|2024-01-01|2027-12-31|           C|740.51|            1460|
|       Blender|2024-01-01|2027-12-31|           C|257.93|            1460|
|     Microwave|2024-01-01|2027-12-31|           C|299.73|            1460|
|  Air Purifier|2024-01-01|2027-12-31|           C|730.79|            1460|
|      Football|2024-01-01|2027-12-31|           C|373.82|            1460|
| Tennis Racket|2024-01-01|2027-12-31|           C|556.97|            1460|
|      Yoga Mat|2024-01-01|2027-12-31|           C| 13.91|            1460|
|     Dumbbells|2024-01-01|2027-12-31|           C|717.08|            1460|
+--------------+----------+----------+------------+------+----------------+
only showing top 20 rows

sales_20_products_50_days

In [55]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [56]:
# Utwórz sesję Spark
spark = SparkSession.builder.appName("sales").getOrCreate()

In [57]:
df = spark.read.csv("sales_20_products_50_days.csv", header=True, inferSchema=True, sep=";")

In [59]:
df.printSchema()

root
 |-- ProductID: integer (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- UnitsSold: integer (nullable = true)

In [60]:
new_schema =  StructType([
    StructField("ProductID", IntegerType(), True),
    StructField("ProductName", StringType(), True),
    StructField("Date", StringType(), True),
    StructField("UnitsSold", StringType(), True)
])

In [61]:
df = spark.read.csv("sales_20_products_50_days.csv", header=True, schema=new_schema, sep=";")

In [62]:
df.show()

+---------+-----------+----------+---------+
|ProductID|ProductName|      Date|UnitsSold|
+---------+-----------+----------+---------+
|        1| Smartphone|2025-06-11|       52|
|        1| Smartphone|2025-06-12|       93|
|        1| Smartphone|2025-06-13|       15|
|        1| Smartphone|2025-06-14|       72|
|        1| Smartphone|2025-06-15|       61|
|        1| Smartphone|2025-06-16|       21|
|        1| Smartphone|2025-06-17|       83|
|        1| Smartphone|2025-06-18|       87|
|        1| Smartphone|2025-06-19|       75|
|        1| Smartphone|2025-06-20|       75|
|        1| Smartphone|2025-06-21|       88|
|        1| Smartphone|2025-06-22|      100|
|        1| Smartphone|2025-06-23|       24|
|        1| Smartphone|2025-06-24|        3|
|        1| Smartphone|2025-06-25|       22|
|        1| Smartphone|2025-06-26|       53|
|        1| Smartphone|2025-06-27|        2|
|        1| Smartphone|2025-06-28|       88|
|        1| Smartphone|2025-06-29|       30|
|        1| Smartphone|2025-06-30|       38|
+---------+-----------+----------+---------+
only showing top 20 rows

In [63]:
#pogrupuj produkty wedlug ID

df.groupBy("ProductID").agg(
    collect_list("ProductName").alias("Products")
).show()

+---------+--------------------+
|ProductID|            Products|
+---------+--------------------+
|       12|[Vacuum Cleaner, ...|
|        1|[Smartphone, Smar...|
|       13|[Blender, Blender...|
|        6|[T-Shirt, T-Shirt...|
|       16|[Football, Footba...|
|        3|[Tablet, Tablet, ...|
|       20|[Cycling Helmet, ...|
|        5|[Smartwatch, Smar...|
|       19|[Dumbbells, Dumbb...|
|       15|[Air Purifier, Ai...|
|        9|[Sneakers, Sneake...|
|       17|[Tennis Racket, T...|
|        4|[Headphones, Head...|
|        8|[Jacket, Jacket, ...|
|        7|[Jeans, Jeans, Je...|
|       10|[Hat, Hat, Hat, H...|
|       11|[Coffee Maker, Co...|
|       14|[Microwave, Micro...|
|        2|[Laptop, Laptop, ...|
|       18|[Yoga Mat, Yoga M...|
+---------+--------------------+

In [64]:
#dodaj kolumne sumy poszczegolnych produktow

df = df.withColumn("UnitsSold", col("UnitsSold").cast(IntegerType()))
df_sum_products = df.groupBy("ProductName").agg(sum("UnitsSold").alias("TotalUnitsSold"))
df_sum_products.show()

+--------------+--------------+
|   ProductName|TotalUnitsSold|
+--------------+--------------+
|        Jacket|          2757|
|      Sneakers|          2402|
|  Air Purifier|          2301|
|Cycling Helmet|          2417|
|           Hat|          2430|
|    Smartwatch|          2583|
|        Laptop|          2562|
|     Microwave|          2322|
|       T-Shirt|          2383|
|       Blender|          2625|
|Vacuum Cleaner|          2512|
|  Coffee Maker|          2705|
|      Yoga Mat|          2811|
|        Tablet|          2310|
| Tennis Racket|          2527|
|     Dumbbells|          2451|
|    Smartphone|          2592|
|      Football|          2520|
|         Jeans|          2380|
|    Headphones|          2538|
+--------------+--------------+

Stairway to heaven

In [70]:
#dataframe
from pyspark.sql.functions import col, explode, split, substring, length, lower
lines = sc.textFile("Stairway to heaven.txt")

In [76]:
result = (lines
          .flatMap(lambda line: line.split())
          .map(lambda word: word.upper())
          .map(lambda word: (word, 1))
          .reduceByKey(lambda x, y: x + y)
          .collect())

result

[('A', 14),
 ('SURE', 2),
 ('THAT', 2),
 ('GLITTERS', 1),
 ('GOLD', 2),
 ("SHE'S", 3),
 ('BUYING', 3),
 ('HEAVEN', 3),
 ('WHEN', 3),
 ('SHE', 5),
 ('GETS', 1),
 ('STORES', 1),
 ('CLOSED', 1),
 ('CAN', 3),
 ('WHAT', 1),
 ('FOR', 4),
 ('OOH,', 6),
 ('SIGN', 1),
 ('ON', 4),
 ('BUT', 2),
 ('WANTS', 2),
 ('YOU', 8),
 ('KNOW', 4),
 ('WORDS', 1),
 ('TWO', 2),
 ('MEANINGS', 1),
 ('IN', 5),
 ('TREE', 1),
 ('BY', 1),
 ('BROOK,', 1),
 ('SONGBIRD', 1),
 ('OUR', 3),
 ('THOUGHTS', 2),
 ('MISGIVEN', 1),
 ('IT', 4),
 ('WONDER', 5),
 ('FEELING', 1),
 ('I', 3),
 ('WEST', 1),
 ('MY', 2),
 ('LEAVING', 1),
 ('SMOKE', 1),
 ('THROUGH', 1),
 ('TREES', 1),
 ('THOSE', 2),
 ('LOOKING', 1),
 ('WHISPERED', 1),
 ('WE', 3),
 ('CALL', 1),
 ('TUNE', 2),
 ('WILL', 4),
 ('LEAD', 1),
 ('REASON', 1),
 ('DAY', 1),
 ('LONG', 2),
 ('ECHO', 1),
 ('BUSTLE', 1),
 ("DON'T", 2),
 ('NOW', 1),
 ('JUST', 1),
 ('SPRING', 1),
 ('MAY', 1),
 ('PATHS', 1),
 ('GO', 1),
 ('RUN', 1),
 ('STILL', 2),
 ('TIME', 1),
 ('ROAD', 2),
 ("YOU'RE", 1),
 ('HEAD', 1),
 ("WON'T", 1),
 ('CASE', 1),
 ('HIM', 1),
 ('LADY,', 1),
 ('WIND', 2),
 ('DID', 1),
 ('LIES', 1),
 ('WIND?', 1),
 ('DOWN', 1),
 ('SHADOWS', 1),
 ('TALLER', 1),
 ('THAN', 1),
 ('WALKS', 1),
 ('SHINES', 1),
 ('VERY', 1),
 ('AT', 1),
 ('ONE,', 1),
 ('ROLL', 1),
 ("THERE'S", 6),
 ('LADY', 2),
 ("WHO'S", 1),
 ('ALL', 7),
 ('IS', 4),
 ('AND', 16),
 ('STAIRWAY', 4),
 ('TO', 13),
 ('THERE', 3),
 ('KNOWS,', 1),
 ('IF', 4),
 ('THE', 17),
 ('ARE', 4),
 ('WITH', 2),
 ('WORD', 1),
 ('GET', 2),
 ('CAME', 1),
 ('WALL,', 1),
 ('BE', 3),
 ("'CAUSE", 1),
 ('SOMETIMES', 2),
 ('HAVE', 2),
 ('WHO', 4),
 ('SINGS', 1),
 ('OF', 3),
 ('MAKES', 5),
 ('ME', 5),
 ('LOOK', 1),
 ('SPIRIT', 1),
 ('CRYING', 1),
 ('SEEN', 1),
 ('RINGS', 1),
 ('VOICES', 1),
 ('STAND', 2),
 ('REALLY', 1),
 ("IT'S", 2),
 ('SOON', 1),
 ('THEN', 1),
 ('PIPER', 1),
 ('US', 1),
 ('NEW', 1),
 ('DAWN', 1),
 ('FORESTS', 1),
 ('LAUGHTER', 1),
 ('OH-OH-OH-OH-WHOA', 1),
 ('YOUR', 3),
 ('HEDGEROW,', 1),
 ('ALARMED', 1),
 ('CLEAN', 1),
 ('QUEEN', 1),
 ('YES,', 1),
 ('BY,', 1),
 ('CHANGE', 1),
 ('OHH,', 1),
 ('WHOA', 1),
 ('HUMMING,', 1),
 ('GO,', 1),
 ("PIPER'S", 1),
 ('CALLING', 1),
 ('JOIN', 1),
 ('DEAR', 1),
 ('HEAR', 1),
 ('BLOW?', 1),
 ('WHISPERING', 1),
 ('AS', 1),
 ('SOUL', 1),
 ('WHITE', 1),
 ('LIGHT', 1),
 ('SHOW', 1),
 ('HOW', 1),
 ('EVERYTHING', 1),
 ('TURNS', 1),
 ('LISTEN', 1),
 ('HARD', 1),
 ('COME', 1),
 ('LAST', 1),
 ('ONE', 1),
 ('ROCK', 1),
 ('NOT', 1)]

In [77]:
from pyspark import SparkContext
import re

def count_a(word):
    return word.lower().count('a')

result = (lines
          .flatMap(lambda line: re.split(r'[\s,.\'\";:!?()\[\]]+', line))  # podział na słowa
          .filter(lambda word: word.strip() != '')  # usuwanie pustych
          .map(lambda word: (count_a(word), 1))  # mapa: (liczba 'a' w słowie, 1)
          .reduceByKey(lambda x, y: x + y)  # sumowanie po liczbie liter 'a'
          .collect())  # zebranie wyniku do drivera

# Konwersja wyniku do słownika lub setu (jeśli chcesz)
output = set(result)  # lub dict(result)

print(output)

{(1, 97), (2, 5), (0, 257)}